streamlit==1.40.2
requests==2.32.3
requests-oauthlib==2.0.0
Pillow==11.0.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
gspread==6.1.2
python-dotenv==1.0.1
flask==3.0.3
pymongo==4.6.3
Flask-Cors==5.0.0
