.env
__pycache__/
backend/data/pdf
backend/data/rtdocs
backend/data/markdown/manpages
backend/data/markdown/OR_docs
backend/data/markdown/ORFS_docs
backend/src/*.json
*.pyc
frontend/*.json  
evaluation/human_evaluation/*.json  
/*.json
venv/
.ruff_cache/
.mypy_cache/
.vscode/

# docs
documents.txt
