.env
*.ipynb
__pycache__/
backend/data/*
backend/src/*.json
*.pyc
*.egg-info/
frontend/*.json  
evaluation/human_evaluation/*.json  
/*.json
secret.json
venv/
.ruff_cache/
.mypy_cache/
.vscode/
.venv
.DS_Store

# docs
documents.txt
credentials.json
creds.json

# virtualenv
.venv

# evaluations
**/.deepeval_telemetry.txt
**/.deepeval_telemtry.txt
*.csv
**/.deepeval-cache.json
temp_test_run_data.json
**/llm_tests_output.txt
**/error_log.txt

# backend
faiss_db

# frontend
node_modules
.next
