GOOGLE_API_KEY={{GOOGLE_API_KEY}}
GOOGLE_APPLICATION_CREDENTIALS={{PATH_TO_GOOGLE_APPLICATION_CREDENTIALS}}

USE_CUDA=false
SEARCH_K=5
CHUNK_SIZE=2000
CHUNK_OVERLAP=200

GOOGLE_GEMINI="1_pro" #1_pro or 1.5_flash or 1.5_pro
GEMINI_TEMP=1

EMBEDDINGS_TYPE="HF"
GOOGLE_EMBEDDINGS="models/embedding-001"
HF_EMBEDDINGS="BAAI/bge-large-en-v1.5"
HF_RERANKER="BAAI/bge-reranker-base"

LANGCHAIN_TRACING_V2=
LANGCHAIN_ENDPOINT=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

HF_TOKEN=

TOKENIZERS_PARALLELISM=false

LOGLEVEL="INFO"