langchain==0.2.6
langchain-community==0.2.6
langchain-huggingface==0.0.3
langchain-google-genai==1.0.7
beautifulsoup4==4.12.3
fastapi==0.111.0
faiss-cpu==1.8.0
markdown==3.0.0
rank-bm25==0.2.2
torch==2.3.0
