name: ORAssistant CI
run-name: ${{ github.actor }} started CI

on: 
  pull_request:
    paths:
      - 'backend/**'
      - 'frontend/**'
      - 'evaluation/**'
      - 'Makefile'
      - 'docker-compose.yml'

defaults:
  run:
    shell: bash

jobs:
  build-backend-docker:
    runs-on: self-hosted
    steps:
    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup prereqs
      run: |
        make init-dev
    - name: Run formatting checks
      run: |
        make check
    - name: Build Docker image
      run: |
        make docker-up
        sleep 1500 # TODO: Remove this after docker-compose healthcheck timeout restored fixed.
    - name: Teardown
      if: always()
      run: |
        make docker-down
